<mat-card>
    <h1 class="column">{{skillSet.name}}</h1>
    <ul>
        <li *ngFor="let skill of skillSet.skills">
            <div class="w-full mb-xxs">
                <div class="row">
                    <div class="column">
                        <p class="m-auto">{{skill.name}}</p>
                    </div>
                    <div class="column">
                        <img class="w-75" src="{{skill.imgUrl}}"/>
                    </div>
                </div>
            </div>
            <mat-progress-bar class="mb-xxs" mode="determinate" value="{{skill.score}}"></mat-progress-bar>
            <p class="t-a-left">{{skill.additionalDetails}}</p>
        </li>
    </ul>
</mat-card>