<mat-card class="m-w-full m-auto">
    <h2 class="center">Active Certifications</h2>
    <div class="row">
        <mat-card class="column">
            <a href="https://www.credly.com/earner/earned/badge/fb74d33f-7952-49f6-be40-481c7749f9e0">
                <img class="m-w-50" src="../../../assets/certifications/SAP.png"/>
            </a>
            <h3 class="center">Solutions Architect Professional</h3>
        </mat-card>
        <mat-card class="column">
            <a href="https://www.credly.com/earner/earned/badge/17ad819b-30a6-4234-aa12-3f09daddb36a">
                <img class="m-w-50" src="../../../assets/certifications/Security.png"/>
            </a>
            <h3 class="center">Security Specialty</h3>
        </mat-card>
        <mat-card class="column">
            <a href="https://www.credly.com/earner/earned/badge/51e89546-2349-432e-8e4e-9cf8c7bbe375">
                <img class="m-w-50" src="../../../assets/certifications/SAA.png"/>
            </a>
            <h3 class="center">Solutions Architect Associate</h3>
        </mat-card>
    </div>
</mat-card>