.certification-container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  grid-gap: 20px;
  align-items: auto;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .certification-container {
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  }
}

.certification-card {
  position: relative;
}

.in-progress {
  opacity: .5;
}