<mat-card class="m-w-full m-auto">
  <h2 class="center">Active Certifications</h2>
  <div class="certification-container">
    <mat-card class="mt-xxs certification-card">
        <a href="https://www.credly.com/badges/fb74d33f-7952-49f6-be40-481c7749f9e0/public_url">
          <img class="m-w-50" src="../../../assets/certifications/SAP.png" />
        </a>
        <h3 class="center">Solutions Architect Professional</h3>
      </mat-card>
      <mat-card class="mt-xxs certification-card">
        <a href="https://www.credly.com/badges/17ad819b-30a6-4234-aa12-3f09daddb36a/public_url">
          <img class="m-w-50" src="../../../assets/certifications/Security.png" />
        </a>
        <h3 class="center">Security Specialty</h3>
      </mat-card>
      <mat-card class="mt-xxs certification-card">
        <a href="https://www.credly.com/badges/51e89546-2349-432e-8e4e-9cf8c7bbe375/public_url">
          <img class="m-w-50" src="../../../assets/certifications/SAA.png" />
        </a>
        <h3 class="center">Solutions Architect Associate</h3>
      </mat-card>
      <mat-card class="mt-xxs certification-card">
        <a href="https://www.credly.com/badges/28977d11-13f7-4dd3-b56a-ccdcf2a4752a/public_url">
          <img class="m-w-50" src="../../../assets/certifications/PSM1.png" />
        </a>
        <h3 class="center">Professional Scrum Master I</h3>
      </mat-card>
      <mat-card class="mt-xxs certification-card">
        <img class="m-w-50 in-progress" src="../../../assets/certifications/AdvNetworking.png" />
        <h3 class="center">Advanced Networking Specialty <br>(current study focus / plan to take exam in January 2022)</h3>
      </mat-card>
  </div>
</mat-card>
