@import '../../../corey-theme.scss';

$primary: map-get($theme-light, primary);

.coffee-button {
    background: map-get($primary, 200);
}

@media screen and (max-width: 800px) {
    .hidden-small {
        display: none !important;
    }
}

h1 {
    text-decoration: underline;
    color: #fff;
}