<div class="w-full">
    <mat-card *ngIf="!connected" class="center m-w-xl mt-xxs m-auto">
        <h1>Enter your username</h1>
        <mat-form-field class="mr-xs">
            <mat-label>Username</mat-label>
            <input matInput placeholder="CoreySchnedl" [formControl]="username" required>
        </mat-form-field>
        <br>
        <mat-form-field class="mr-xs">
            <mat-label>Connection Key</mat-label>
            <input matInput placeholder="AskCorey" [formControl]="connectionKey" required>
        </mat-form-field>
        <br>
        <button [disabled]="!username.valid || !connectionKey.valid" mat-raised-button (click)="connect()">Connect</button>
    </mat-card>
    <mat-card *ngIf="connected" class="center m-w-xl mt-xxs m-auto">
        <mat-form-field class="mr-xs">
            <mat-label>Message</mat-label>
            <input matInput placeholder="Hello" [formControl]="message" required>
        </mat-form-field>
        <button [disabled]="!message.valid" mat-raised-button (click)="sendMessage()">Send Message</button>
        <pre>{{scoreBoard | json}}</pre>
    </mat-card>
</div>