<mat-card class="center m-w-full m-auto">
    <div class="center m-w-xl m-auto w-75 h-auto">
        <img class="center w-full h-auto rounded m-auto" src="assets/corey.jpg">
    </div>
    <div class="m-w-xxl mt-xxs m-auto t-a-center">
        <p>Hello there, I am</p>
        <h1>Corey Schnedl</h1>
        <p>I am a AWS Certified Solutions Architect Professional who loves to build new things in the cloud.
            I am a consultant who has 5+ years of experience building software and am working for Insight Digital Innovation as a software engineer consultant.
        </p>
        <p>
            I have a great deal of knowledge regarding AWS best practices and software development.
            If you have an idea that you need help implementing in AWS or you feel that I can help you in any way, feel free to reach out to me using one of the links above.
            If you're feeling generous, buy me a cup of coffee!
            I would love to talk about anything technology related!
        </p>
    </div>
</mat-card>