<mat-card class="center m-w-full m-auto">
    <div class="center m-w-xl m-auto w-75 h-auto">
        <img class="center w-full h-auto rounded m-auto" src="assets/corey.jpg">
    </div>
    <div class="m-w-xxl mt-xxs m-auto t-a-center">
        <p>Hello there, I am</p>
        <h1>Corey Schnedl</h1>
        <p>I am an AWS Certified Solutions Architect Professional with 5+ years of experience building software.
            I am currently working as a software engineer consultant for Insight Digital Innovation in Columbus, Ohio.
        </p>
        <p>
            I have a lot of experience with AWS technology and software development.
            If you have an idea that you need help implementing in AWS or you feel that I can help you in any way, feel free to reach out to me using any of the links above.
            If you're feeling generous, buy me a cup of coffee!
            I'd love to chat about anything technology related, and I will get back to you as soon as I can!
        </p>
    </div>
</mat-card>