/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//////////////////////////////////////////////////////////////////////
// BEGIN SPACING
//////////////////////////////////////////////////////////////////////

.table-cell {
    display: table-cell !important;
}

.block {
    display: block !important;
}

.inline-block {
    display: inline-block !important;
}

.flex {
    display: flex !important;
}

.absolute {
    position: absolute !important;
}

.m-auto {
    margin: auto !important;
}

.ml-auto {
    margin-left: auto !important;
}

.mr-auto {
    margin-right: auto !important;
}

.mr-xxs {
    margin-right: 0.6rem !important;
}

.mr-xs {
    margin-right: 1rem !important;
}

.mr-s {
    margin-right: 1.5rem !important;
}

.mx-s {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
}

.m-s {
    margin: 1.5rem !important;
}

.center {
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

.pt-50 {
    padding-top: 50%;
}

.mr-xs {
    margin-right: 1rem;
}

.mx-xs {
    margin-right: 1rem;
    margin-left: 1rem;
}

.mt-xxs {
    margin-top: 0.6rem !important;
}

.mb-xxs {
    margin-bottom: 0.6rem !important;
}

.f-r {
    float: right !important;
}

.t-0 {
    top: 0 !important;
}

//////////////////////////////////////////////////////////////////////
// BEGIN SIZING
//////////////////////////////////////////////////////////////////////

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.m-w-full {
    max-width: 100% !important;;
}

.w-full {
    width: 100% !important;
}

.w-90 {
    width: 90% !important;
}

.w-75 {
    width: 75%;
}

.w-50 {
    width: 50%;
}

.m-w-xxl {
    max-width: 35rem;
}

.m-w-xl {
    max-width: 25rem;
}

.m-w-l {
    max-width: 20rem;
}

.m-w-50 {
    max-width: 50%;
}

.m-w-33 {
    max-width: 33%;
}

.m-w-25 {
    max-width: 25%;
}

.m-w-75 {
    max-width: 75%;
}

.min-w-30 {
    min-width: 30%;
}

.min-w-l {
    min-width: 25rem;
}

.m-h-full {
    max-height: 100% !important;
}

.h-full {
    height: 100% !important;
}

.h-75 {
    height: 75%;
}

.h-50 {
    height: 50%;
}

.h-s {
    height: 4rem !important;
}

.h-xs {
    height: 2rem !important;
}

.h-xxs {
    height: 1rem !important;
}

.rounded {
    border-radius: 50%;
}

//////////////////////////////////////////////////////////////////////
// BEGIN POSITIONING
//////////////////////////////////////////////////////////////////////

.t-a-center {
    text-align: center;
}

.t-a-left {
    text-align: left;
}